body{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
} 
.yello-color{
    color: tomato;
}
h1{
    font-size: 50px;
}
.first-block{
    display: flex;
}
.block-1{
    width: 50%;
    padding-left: 5%;
    margin-top: 5%;
   
}
.block-1 img{
    width: 80%;
}
.explore-link{
    color:white;
    background-image: linear-gradient(tomato,rgb(250, 80, 50));
    text-decoration:none ;
    border-radius: 5px;
    padding: 10px 40px;
}
#mission-2022{
    text-align: center;
}
.sp-22{
    color: tomato;
}
.third-block{
    display: flex;