body{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
} 
.yello-color{
    color: tomato;
}
h1{
    font-size: 50px;
}
.first-block{
    display: flex;
}
.block-1{
    width: 50%;
    padding-left: 5%;
    margin-top: 5%;
   
}
.block-1 img{
    width: 80%;
}
.explore-link{
    color:white;
    background-image: linear-gradient(tomato,rgb(250, 80, 50));
    text-decoration:none ;
    border-radius: 5px;
    padding: 10px 40px;
}
#mission-2022{
    text-align: center;
}
.sp-22{
    color: tomato;
}
.third-block{
    display: flex;
}
.block-2{
    width: 40%;
    padding-left: 5%;
    margin-top: 5%;
}
.block-2 img{
    width: 60%;
    padding-left: 20%;
}
#mvg{
    font-size: 30px;
}
.mvg{
    width: 25%;
    background-color: rgb(166, 245, 234);
    border-radius: 40px;
    padding: 50px;
    margin: 40px;
}
.mvg img{
    width: 50%;
}
#mvg-2{
    background-color: rgb(247, 201, 201);
}
#mvg-3{
    background-color: rgb(248, 238, 144);
}
.visit{
    background-image: url(images/pictures/Tanguar-Haor-Sunamganj-768x512.jpg);
    width: 30%;
    padding-top: 350px;
    border-radius: 20px;
    margin: 40px;
    color: azure;
    padding-left: 20px;
}
.visit-2{
    background-image: url(images/pictures/17381799730_08e8177695_b-700x466.jpg);
    width: 30%;
    padding-top: 350px;
    border-radius: 20px;
    margin: 40px;
    color: azure;
    padding-left: 20px;
}
.visit-3{
    background-image: url(images/pictures/Boats-harbour-Marcel-Cove-Lesser-Antilles-Saint-Martin.jpg);
    width: 30%;
    padding-top: 350px;
    border-radius: 20px;
    margin: 40px;
    color: azure;
    padding-left: 20px;
}
#footer{
    padding-top: 30px;
}
.fot{
    padding-bottom: 30px;
}
#block-1{
    width: 35%;
}
.footer{
    padding: 7px;
    text-align: center;
    color: white;
    background-color: black;
}
.ft-color{
    color: tomato;
}
