body{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
} 
.yello-color{
    color: tomato;
}
h1{
    font-size: 50px;
}
.first-block{
    display: flex;
}
.block-1{
    width: 50%;
    padding-left: 5%;
    margin-top: 5%;
   
}
.block-1 img{
    width: 80%;
}
.explore-link{
    color:white;
    background-image: linear-gradient(tomato,rgb(250, 80, 50));
    text-decoration:none ;
    border-radius: 5px;
    padding: 10px 40px;
}
#mission-2022{
    text-align: center;
}
.sp-22{
    color: tomato;
}
.third-block{
    display: flex;
}
.block-2{
    width: 40%;
    padding-left: 5%;
    margin-top: 5%;
}
.block-2 img{
    width: 60%;
    padding-left: 20%;
}
#mvg{
    font-size: 30px;
}
.mvg{
    width: 25%;
    background-color: rgb(166, 245, 234);
    border-radius: 40px;
    padding: 50px;
    margin: 40px;
}
.mvg img{
    width: 50%;
}
#mvg-2{
    background-color: rgb(247, 201, 201);
}
#mvg-3{
    background-color: rgb(248, 238, 144);
}
































.footer{
    padding: 7px;
    text-align: center;
    color: white;
    background-color: black;
}
.ft-color{
    color: tomato;
}
